.header {
  width: 100%;
  height: 7rem;
  // background-image: url(../images/bg-header-desktop.svg);
  // position: absolute;
  background-color: black;
}

.imgL {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
